.text-name {
    background-color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    width: 15rem;
    height: 2rem;
    padding: 10px;
    resize: none;
    overflow: hidden;
    color: black !important;
}

.text-fields {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    max-width: auto;
    height: auto;
    padding: 10px;
    resize: none;
    text-align: left;
    align-items: start;
    justify-content: start;
}

.text-infos {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    max-width: auto;
    height: auto;
    padding: 10px;
    text-align: left;
}

.button-layers {
    background-color: #ba9c70;
    width: 4rem; 
    height: 4rem;
    border: 1px solid #873a00;
    color: #e2daae;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.selected-button-layers {
    background-color: #58390b;
    width: 4rem; 
    height: 4rem;
    border: 1px solid #75543a;
    color: #cebc59;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.uploaded {
    margin-bottom: 15rem;
}

.image-upload-card {
    max-width: 25rem;
    max-height: 25rem;
    border-radius: 8px;
    border: 10px solid grey;
    border-radius: 10px;
    justify-self: center;
}